@import "tailwindcss";

.scroll-container {
  scrollbar-gutter: stable both-edges;
}

/* Scroll invisível por padrão */
.scroll-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  transition: width 0.3s ease;
}

/* Mostra o scroll ao passar o mouse */
.scroll-container:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Tailwind blue-500 */
  border-radius: 8px;
  transition: background 0.3s ease;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #60a5fa; /* Tailwind blue-400 */
}

/* Firefox */
.scroll-container {
  scrollbar-width: none;
}
.scroll-container:hover {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}